*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #3d1700;
}

body{
   font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2vh;
    position: fixed;
    z-index: 2;
    background-color: #3d1700;
    box-shadow: 0 8px 20px rgba(75, 44, 32, 0.6);
    align-items: center;
    justify-content: center;
}

header a:hover{
    background-color: aliceblue;
    color: #3d1700;
    border-radius: 30px;
    padding: 0.5vw;

}


ul{
    display: flex;
    list-style: none;
    gap: 15vw;
}

a{
    text-decoration: none;
    font-size: 2vw;
    color: aliceblue;
}

h1{ 
    font-size: 3vw;
    color: aliceblue;
} 


h2{
    font-size: 1.9vw;
    color: aliceblue;
}


#sobre{
    display: flex;
    flex-wrap: wrap; 
    padding: 15vh 5vw;
    background-image: url(../img/fundo3.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 20px rgba(75, 44, 32, 0.6);
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 1vw;
}

#sobre::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(75, 44, 32, 0.6);  
}

.apresentacao{
    display: flex;
    flex: 1 1 300px;
    width: 50%;
    flex-direction: column;
    gap: 3vw;
}

.nome-apresentacao{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.container-img{
    width: 45%;
    flex: 1 1 300px;
    border-radius: 50px;
    margin-left: auto;   
    object-fit: cover;
}

.container-img > img {
    width: 100%;
    border-radius: 50px;
    border: 4px solid #3d1700;

}

#sobre p{
    color: aliceblue;
    font-size: 1.7vw;
    align-items: center;
    font-style:oblique;
}

#borda-sobre{
    background-color: #3d1700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-style:dashed;
    border-radius: 50px;
    padding: 30px;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);

}

.gradiente-continuo{
    background: linear-gradient(to bottom, #4b2c20, #e0e0e0);
}


#Projetos{
    display: flex;
    padding: 15vh 5vw;
    width: 100%;
    gap: 10vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Proj-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    margin-top: 15vw;
    border: solid;
    background-color: #3d1700;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    gap: 1.2vw;
    padding: 0.5vw;
}


#Projetos img{
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 30px;
}

#Projetos h2{
    color: aliceblue;
    background-color: #3d1700;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 1.5vh 1.5vw;
    font-size: 3.5vw;
    width: 100%;
}

#Projetos h3{
    color: aliceblue;
    font-size: 3vw;
}

#Projetos a{
    background-color: aliceblue;
    border-radius: 50px;
    font-size: 3vw;
    padding: 0.5vw;

}

.a-projrtos{
    display: flex;
    color: #3d1700;
}

#Contato{
    display: flex;
    padding: 15vh 5vw;
    width: 100%;
    flex-direction: column;
    gap: 3vh;    
}

form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    gap: 0.1vw;
    border-style:dashed;
    border-radius: 50px;
    font-size: 3vw;
    padding: 4vw;
    width: 55%;
    
}

form ::placeholder{
    font-size: 2vw;
}

.form {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap; 
}

form, .form p {
    flex: 1 1 300px;
    min-width: 250px;
}

input{
    height: 5vW;
    border-radius: 10px;
    border: solid #3d1700;
    font-size: 2vw;
}

button{
    height: 5vw;
    background-color: #3d1700;
    border-radius: 10px;
    color: aliceblue;
    font-size: 2vw;
}

.form p{
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 5vw;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5vw;
    gap: 0.5vw;
    background-color: #3d1700;
}

footer i{
    display: flex;
    font-size: 2vw;
    color: aliceblue;
}

footer p{
    color: aliceblue;
    font-size: 2vw;
}

/* === Responsividade === */

@media(max-width: 480px){
header{
        align-items: center;
        width: 100%;
        padding: 3.5vh;
}

header a{
        font-size: 4.5vw;
}

section{
      width: 100%;
}

#sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1vw;
  padding: 15vh 5vw;
  width: 100%;
}

.apresentacao,
.container-img {
  flex: 1 1 100%;
  
}
   
#Projetos{
        padding: 12vh 5vw;
        align-itens: center;
}

#Projetos h2{
    display: flex;
    align-self: flex-start;
}

#Contato{
    padding: 15vh 5vw;
}

    #Contato p{
        font-size:10vw;
    }

    input, button {
        width: 100%;
        font-size: 4vw;
    }
    form{
        padding: 8vh 4vw;
    }
    

    form ::placeholder {
        font-size: 4vw;
    }
    .form{
        text-align: center;
    }
}
    
}
